<div class=" outer-div">
  <h3 class="text-center"></h3>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="">Person Name </label>
      <input mdbInput type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Bussiness Name </label>
      <input mdbInput type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Bussiness GST Number </label>
      <input mdbInput type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>